<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="../public/javascripts/jquery-1.10.2.js"></script>
    <link rel="stylesheet" href="../public/stylesheet/css/bootstrap.min.css">
    <script src="../public/javascripts/bootstrap.min.js"></script>
    <script src="../model/users.js"></script>
    <title>Home</title>
</head>
<body>
    <nav class="navbar navbar-default navbar-inverse" style="border-radius: 0" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Home</a>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                <li class=""><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
            </ul>
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="#" class="signin" onclick="bodyLoader(this.className)" >Sign in</a></li>
                <li><a href="#" class="signup" onclick="bodyLoader(this.className)">Sign up</a></li>
            </ul>
        </div>
    </nav>
    <div class="container" id="container" >
    </div>
    <!-- <a id="signinModal" data-toggle="modal" href='#modal-id'></a>
    <form action="" method="POST" role="form" onsubmit="signInValid(this[0].value, this[1])">
    <div class="modal fade" id="modal-id">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Sign in</h4>
                </div>
                <div class="modal-body">
                    
                    
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text" class="form-control" id="username" placeholder="">
                        </div>
                    
                        <div class="form-group">
                                <label for="passwd">Password</label>
                                <input type="password" class="form-control" id="passwd" placeholder="">
                        </div>
                    
                        
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </form> -->
        
    
    
</body>
<script>
    let component = {signin : `
        <div class="row" id="signin">
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-xs-push-2">
                <form action="" method="POST" role="form" onsubmit="return signInValid(this[0].value, this[1].value)">
                    <legend>Sign in</legend>
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" class="form-control" id="username" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="passwd">Password</label>
                        <input type="password" class="form-control" id="passwd" placeholder="">
                    </div>
                    <button type="submit" class="btn btn-primary">Sign in</button>
                </form>
            </div>
        </div>
    `,
    signup : `
    <div class="row" id="signup">
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-xs-push-2">
                <form id="signUpForm" action="" method="POST" role="form" onsubmit="return signUpValid(this)">
                    <legend>Sign up</legend>
                    
                    <div class="alert alert-danger" style="display: none">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <strong>Failed to sign up!</strong> You must fill out this form
                    </div>

                    <div class="alert alert-danger" style="display: none">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <strong>Failed to sign up!</strong> Username is already use
                    </div>
                    
                    <div class="form-group">
                        <label for="fullname">Full Name(*)</label>
                        <input type="text" class="form-control" id="fullname" placeholder="" onfocus="$('.alert-danger').css('display', 'none')">
                    </div>
                    <div class="form-group">
                        <label for="username">Username(*)</label>
                        <input type="text" class="form-control" id="username" placeholder="" onfocus="$('.alert-danger').css('display', 'none')">
                    </div>
                    <div class="form-group">
                        <label for="passwd">Password(*)</label>
                        <input type="password" class="form-control" id="passwd" placeholder="" onfocus="$('.alert-danger').css('display', 'none')">
                    </div>
                    <i style="display: block">(*): Required field</i>
                    <button type="submit" class="btn btn-primary">Sign up</button>
                </form>
            </div>
        </div>
    `,
    home: `
        
    `
    }
    let session = '';
    let headerLoader = () => {
        if(session === ''){

        }
        else{

        }
    }
    let tmp;
    let bodyLoader = (pageClassName) => {
        // $(`#${tmp}`).css('display', 'none');
        // $(`#${pageClassName}`).css('display', 'block');
        // tmp = pageClassName;
        $('#container').html('');
        $('#container').html(component[pageClassName]);
    }
    let signInValid = (username, passwd) => {
        let currentAccount = '';
        for (let index = 0; index < Users.length; index++) {
            if(Users[index].username === username){
                currentAccount = Users[index]; index = Users.length -1;
            }
        }
        if(currentAccount === '' || currentAccount.mk != passwd) alert('not ok'); else alert('ok')
        return false;
    }
    let signUpValid = (signUpData) => {
        for (let i = 2; i < signUpData.length - 1; i++) {
            if(signUpData[i].value === ''){
                $('.alert-danger').eq(0).css('display', 'block'); return false;
            }            
        }
        if(Users.findIndex(u => u.username === signUpData['username'].value) !== -1){
            $('.alert-danger').eq(1).css('display', 'block'); return false;
        }
        // document.forms['signUpForm'].reset();
        return false;
    }
</script>
</html>