<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="../public/javascripts/jquery-1.10.2.js"></script>
    <link rel="stylesheet" href="../public/stylesheet/css/bootstrap.min.css">
    <script src="../public/javascripts/bootstrap.min.js"></script>
    <script src="../model/users.js"></script>
    <script src="../model/rooms.js"></script>
    <script src="../model/orders.js"></script>
    <title>Home</title>
</head>
<style>
</style>
<body onload="checkIn(); dataLoader()">
    <nav class="navbar navbar-default navbar-inverse" style="border-radius: 0" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="./index.html">Home</a>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse" id="header">
            <ul class="nav navbar-nav">
                <li><a href="">Rooms</a></li>
                <li><a href="">Services</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="./signin.html">Sign in</a></li>
                <li><a href="./signup.html">Sign up</a></li>
            </ul>
        </div>
    </nav>
    <div class="container" id="body" >
    </div>
</body>
<script>
    let checkIn = () => {
        if(sessionStorage.length > 0){
            let currentAccount = JSON.parse(sessionStorage.getItem('currentAccount'));
            $('.navbar-right').html(`
                <li><a href="./orders.html">Orders</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle accountinfo" data-toggle="dropdown"  >${currentAccount.fullname} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="./account.html">Account Info</a></li>
                        <li onclick="signOut()"><a href="#">Sign Out</a></li>
                    </ul>
                </li>
            `)
        }
    }
    let bodyLoader = pageClassName => {
        $('#body').html(component[pageClassName]);
    }
    let dataLoader = () => {
        $('#body').html('');
        if(!localStorage.getItem('Rooms'))
            Rooms.forEach(room => {
                $('#body').append(`
                    <div class="container" style="margin-bottom: 20px; border-style: solid; border-color: darkgray; border-radius: 20px; padding: 0; overflow: hidden">
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="padding: 0">
                            <img src="${room.img}" class="img-responsive" alt="Image">
                        </div>
                        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9" style="padding: 0">
                            <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                                <h1>${room.title}</h1>
                                <p>${room.desc}</p>
                            </div>
                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="display: flex; flex-direction: column; justify-content: center; align-items: center">
                                <h1>$${room.price}</h1>
                                <button type="button" class="btn btn-default" id="${room.id}" onclick="order(this.id)">Đặt phòng</button>
                            </div>
                        </div>
                    </div>
                `)
            })
        else{
            JSON.parse(localStorage.getItem('Rooms')).forEach(room => {
                $('#body').append(`
                    <div class="container" style="margin-bottom: 20px; border-style: solid; border-color: darkgray; border-radius: 20px; padding: 0; overflow: hidden">
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="padding: 0">
                            <img src="${room.img}" class="img-responsive" alt="Image">
                        </div>
                        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9" style="padding: 0">
                            <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                                <h1>${room.title}</h1>
                                <p>${room.desc}</p>
                            </div>
                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="display: flex; flex-direction: column; justify-content: center; align-items: center">
                                <h1>$${room.price}</h1>
                                <button type="button" class="btn btn-default" id="${room.id}" onclick="order(this.id)">Đặt phòng</button>
                            </div>
                        </div>
                    </div>
                `)
            })
        }
    }
    let order = id => {
        if(!sessionStorage.getItem('currentAccount')) window.location.assign('./signin.html');
        if(!localStorage.getItem('Orders')){
            localStorage.setItem('Orders', JSON.stringify([{
                username: JSON.parse(sessionStorage.getItem('currentAccount')).username,
                room_id: id
            }]))
            console.log(JSON.parse(localStorage.getItem('Orders')));
        }
        else{
            let Orders = JSON.parse(localStorage.getItem('Orders'));
            let currentAccount = JSON.parse(sessionStorage.getItem('currentAccount'))
            let cusOrderArr = new Promise((resolve, reject) => {
                resolve(Orders.filter(order => order.username === currentAccount.username));
            })
                .then(data => {
                    if(data.findIndex(order => order.room_id === id) !== -1) return alert('The order is alreay exists');
                    Orders.push({
                        username: JSON.parse(sessionStorage.getItem('currentAccount')).username,
                        room_id: id
                    })
                    localStorage.setItem('Orders', JSON.stringify(Orders));
                    console.log(Orders);
                });
        }
    }
    let signOut = () => {
        sessionStorage.clear();
        window.location.assign('./index.html');
    }
    orderList = () => {
        $('#body').html('');
        let data = new Promise((resolve, reject) => {
            resolve(Orders.filter(order => order.username === session.username))
        })
            .then(orderArr => {
                orderArr.forEach(order => {
                    $('#body').append(`
                        <li>${order.room_id}</li>
                    `)
                })
            })
    }
</script> 
