<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="../public/javascripts/jquery-1.10.2.js"></script>
    <link rel="stylesheet" href="../public/stylesheet/css/bootstrap.min.css">
    <script src="../public/javascripts/bootstrap.min.js"></script>
    <script src="../model/users.js"></script>
    <script src="../model/rooms.js"></script>
    <script src="../model/orders.js"></script>
    <title>Home</title>
</head>
<style>
    .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 500px;
  /* max-height: 100px; */
  margin: auto;
  text-align: center;
  font-family: arial;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}
</style>
<body onload="headerLoader('home'); dataLoader()">
    <nav class="navbar navbar-default navbar-inverse" style="border-radius: 0" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" onclick="dataLoader()">Home</a>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse" id="header">
        </div>
    </nav>
    <div class="container" id="body" >
        
        
    </div>
</body>
<script>
    let session = '';
    let component = {signin : `
        <div class="row" id="signin">
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-xs-push-2">
                <form action="" method="POST" role="form" onsubmit="return signInValid(this[0].value, this[1].value)">
                    <legend>Sign in</legend>
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" class="form-control" id="username" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="passwd">Password</label>
                        <input type="password" class="form-control" id="passwd" placeholder="">
                    </div>
                    <button type="submit" class="btn btn-primary">Sign in</button>
                </form>
            </div>
        </div>
    `,
    signup : `
    <div class="row" id="signup">
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-xs-push-2">
            <form id="signUpForm" action="" method="POST" role="form" onsubmit="return signUpValid(this)">
                <legend>Sign up</legend>
                
                <div class="alert alert-danger" style="display: none">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <strong>Failed to sign up!</strong> You must fill out this form
                </div>

                <div class="alert alert-danger" style="display: none">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <strong>Failed to sign up!</strong> Username is already use
                </div>
                
                <div class="form-group">
                    <label for="fullname">Full Name(*)</label>
                    <input type="text" class="form-control" id="fullname" placeholder="" onfocus="$('.alert-danger').css('display', 'none')">
                </div>
                <div class="form-group">
                    <label for="username">Username(*)</label>
                    <input type="text" class="form-control" id="username" placeholder="" onfocus="$('.alert-danger').css('display', 'none')">
                </div>
                <div class="form-group">
                    <label for="passwd">Password(*)</label>
                    <input type="password" class="form-control" id="passwd" placeholder="" onfocus="$('.alert-danger').css('display', 'none')">
                </div>
                <i style="display: block">(*): Required field</i>
                <button type="submit" class="btn btn-primary">Sign up</button>
            </form>
        </div>
    </div>
    `,
    home: `
        <ul class="nav navbar-nav">
        </ul>
        <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
        <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="#" class="signin" onclick="bodyLoader(this.className)" >Sign in</a></li>
            <li><a href="#" class="signup" onclick="bodyLoader(this.className)">Sign up</a></li>
        </ul>
    `,
    clientBody: `
        <div class="container" style="margin-bottom: 20px; border-style: solid; border-color: darkgray; border-radius: 20px">
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <img src="../public/images/BWPlus_Astana_Hotel_Kasachstan.jpg" class="img-responsive" alt="Image" style="padding: 7px">
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="">
                <h1>ASDLKSAJDLKSAJD</h1>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptate praesentium ex dicta, doloribus dolor neque nam quas consequuntur nostrum, porro atque accusantium aspernatur eos ad perspiciatis cumque obcaecati culpa animi.
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <div class="row">
                    <h2 style="text-align: right; color: green">$199</h2>
                </div>
                <div class="row">
                    <button type="button" class="btn btn-large btn-block btn-success" >button</button>
                </div>
            </div>
        </div>
    `,
    admin: `
        <ul class="nav navbar-nav">
            <li><a href="#">Orders</a></li>
        </ul>
        <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
        <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="#" class="signin" onclick="bodyLoader(this.className)" >Sign in</a></li>
            <li><a href="#" class="signup" onclick="bodyLoader(this.className)">Sign up</a></li>
        </ul>
    `
    }
    
    
    let headerLoader = site => {
        $('#header').html(component[site]);
    }
    let bodyLoader = pageClassName => {
        $('#body').html(component[pageClassName]);
    }
    let dataLoader = () => {
        $('#body').html('');
        Rooms.forEach(r => {
            $('#body').append(`
            <div class="container" style="margin-bottom: 20px; border-style: solid; border-color: darkgray; border-radius: 20px">
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    <img src="${r.img}" class="img-responsive" alt="Image" style="padding: 7px">
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="">
                    <h1>${r.title}</h1>
                    ${r.desc}
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    <div class="row">
                        <h2 style="text-align: right; color: green">$${r.price}</h2>
                    </div>
                    <div class="row">
                        <button type="button" class="btn btn-large btn-block btn-success" id="${r.id}" onclick="order(this.id)">Order</button>
                    </div>
                </div>
            </div>
            `)
        })
    }
    let order = id => {
        if(session === '') return bodyLoader('signin');
        let cusOrderArr = new Promise((resolve, reject) => {
            resolve(Orders.filter(order => order.username === session.username));
        })
        .then(arr => {
            if(arr.findIndex(order => order.room_id === id) !== -1) return alert('The order is alreay exists');
            Orders.push({
                username: session.username,
                room_id: id
            })
            console.log(Orders);
        });
    }
    let signInValid = (username, passwd) => {
        let accountInfo = new Promise((resolve, reject) => {
            resolve(Users.find(u => u.username === username));
        })
        .then(data => {
            if(typeof data === 'undefined' || data.passwd !== passwd) return alert('not ok');
            session = {
                username: data.username,
                passwd: data.passwd,
                type: data.type
            };
            component.clientHeader = `
                <ul class="nav navbar-nav">
                    
                </ul>
                <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Orders</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle accountinfo" data-toggle="dropdown"  >${data.fullname} <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#" onclick="bodyLoader('accountInfo')">Account Info</a></li>
                            <li onclick="signOut()"><a href="#">Sign Out</a></li>
                        </ul>
                    </li>
                </ul>
            `
            component.accountInfo = `
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Full name</th>
                            <th>Phone Number</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>${data.fullname}</td>
                            <td>${data.phone}</td>
                        </tr>
                    </tbody>
                </table>
                <a class="btn btn-primary" data-toggle="modal" href='#modal-id'>Change Password</a>
                <form action="" method="POST" role="form">
                    <div class="modal fade" id="modal-id">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title">Change Password</h4>
                                </div>
                                <div class="modal-body">
                                        <div class="form-group">
                                            <label for="">Old Password</label>
                                            <input type="password" class="form-control" id="">
                                        </div>
                                        <div class="form-group">
                                            <label for="">New Password</label>
                                            <input type="password" class="form-control" id="">
                                        </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary">Save changes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            `
            headerLoader(`${data.type}Header`); dataLoader();
        });
        return false;
    }
    let signUpValid = (signUpData) => {
        for (let i = 2; i < signUpData.length - 1; i++) {
            if(signUpData[i].value === ''){
                $('.alert-danger').eq(0).css('display', 'block'); return false;
            }
        }
        if(Users.findIndex(u => u.username === signUpData['username'].value) !== -1){
            $('.alert-danger').eq(1).css('display', 'block'); return false;
        }
        return false;
    }
    let signOut = () => {
        session = '';
        headerLoader('home');
        dataLoader();
    }
    let rePasswd = (oldpasswd, newpasswd) => {
        if(oldpasswd !== session.passwd) return alert('not ok');
        
    }
</script>