<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="../public/javascripts/jquery-1.10.2.js"></script>
    <link rel="stylesheet" href="../public/stylesheet/css/bootstrap.min.css">
    <script src="../public/javascripts/bootstrap.min.js"></script>
    <script src="../model/rooms.js"></script>
    <title>Account Info</title>
</head>
<body onload="checkIn(); dataLoader()">
    <nav class="navbar navbar-default navbar-inverse" style="border-radius: 0" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="./index.html">Home</a>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse" id="header">
            <ul class="nav navbar-nav">
                <li><a href="">Rooms</a></li>
                <li><a href="">Services</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="./signin.html">Sign in</a></li>
                <li><a href="./signup.html">Sign up</a></li>
            </ul>
        </div>
    </nav>
    
    <div class="container" id="body">
        <table class="table table-bordered table-hover">
            
        </table>
        <a class="btn btn-primary" data-toggle="modal" href='#modal-id'>Change Password</a>
        <div class="modal fade" id="modal-id">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Change Password</h4>
                    </div>
                    <form action="" method="POST" role="form" onsubmit="return rePasswd(this[0].value, this[1].value)">
                        <div class="modal-body">
                                <div class="form-group">
                                    <label for="">Old Password</label>
                                    <input type="password" class="form-control" id="">
                                </div>
                                <div class="form-group">
                                    <label for="">New Password</label>
                                    <input type="password" class="form-control" id="">
                                </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    let checkIn = () => {
        if(sessionStorage.length < 1) window.location.assign('./index.html');
        let currentAccount = JSON.parse(sessionStorage.getItem('currentAccount'));
        let renderAccount = new Promise((resolve, reject) => {
            resolve(JSON.parse(localStorage.getItem('Users')).find(u => u.username === currentAccount.username))
        })
            .then(data => {
                $('.table').html(`
                    <thead>
                        <tr>
                            <th>Full name</th>
                            <th>Phone Number</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>${data.fullname}</td>
                            <td>${data.phone}</td>
                        </tr>
                    </tbody>
                `)
            })
        if(sessionStorage.length > 0){
            let currentAccount = JSON.parse(sessionStorage.getItem('currentAccount'));
            $('.navbar-right').html(`
                <li><a href="./orders.html">Orders</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle accountinfo" data-toggle="dropdown">${currentAccount.fullname} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="./account.html">Account Info</a></li>
                        <li onclick="signOut()"><a href="#">Sign Out</a></li>
                    </ul>
                </li>
            `)
        }
    }
    let rePasswd = (oldpasswd, newpasswd) => {
        let currentAccount = JSON.parse(sessionStorage.getItem('currentAccount'));
        if(oldpasswd === ''|| oldpasswd !== currentAccount.passwd || newpasswd === oldpasswd || newpasswd.length < 6 ) {alert('not ok'); return false};
        let localUsers = JSON.parse(localStorage.getItem('Users'));
        let accountIndex = new Promise((resolve, reject) => {
            resolve(localUsers.findIndex(u => u.username === currentAccount.username))
        })
            .then(index => {
                localUsers[index].passwd = newpasswd;
                localStorage.setItem('Users', JSON.stringify(localUsers));
                alert('Đổi mật khẩu thành công');
            })
        // console.log(oldpasswd, newpasswd);
        return false;
    }
    let signOut = () => {
        sessionStorage.clear();
        window.location.assign('./index.html');
    }
    let dataLoader = () => {
        $('#body').html('');
        if(!localStorage.getItem('Orders') || JSON.parse(localStorage.getItem('Orders').length < 1)) 
            $('#body').html(`
                <div class="alert alert-info">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <strong>Bạn chưa thực hiện đặt phòng!</strong>
                </div>
            `)
        else{
            let Orders = JSON.parse(localStorage.getItem('Orders'));
            let currentAccount = JSON.parse(sessionStorage.getItem('currentAccount'))
            let cusOrders = new Promise((resolve, reject) => {
                resolve(Orders.filter(order => order.username === currentAccount.username))
            })
                .then(cusOrderArr => {
                    cusOrderArr.forEach(order => {
                        let currentRoom = Rooms.find(room => room.id === parseInt(order.room_id));
                        $('#body').append(`
                        <div class="container" style="margin-bottom: 20px; border-style: solid; border-color: darkgray; border-radius: 20px; padding: 0; overflow: hidden">
                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="padding: 0">
                                <img src="${currentRoom.img}" class="img-responsive" alt="Image">
                            </div>
                            <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9" style="padding: 0">
                                <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                                    <h1>${currentRoom.title}</h1>
                                    <p>${currentRoom.desc}</p>
                                </div>
                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="display: flex; flex-direction: column; justify-content: center; align-items: center">
                                    <h1>$${currentRoom.price}</h1>
                                    <button type="button" class="btn btn-danger">Xóa</button>
                                </div>
                            </div>
                        </div>
                        `)
                    })
                })
        }
    }
</script>
</html>